name: CI

on:
  workflow_call:
    secrets:
      GCP_PROJECT_ID:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run unit tests
        run: echo "Ejecutando tests..."