name: CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  call-ci:
    uses: ./.github/workflows/reusable-ci.yml

  deploy-staging:
    needs: call-ci
    uses: ./.github/workflows/deploy-staging.yml

    secrets:
      gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
      staging_vm_ip: ${{ secrets.STAGING_VM_IP }}
      staging_vm_user: ${{ secrets.STAGING_VM_USER }}
      staging_vm_key: ${{ secrets.STAGING_VM_KEY }}
      GCR_CREDENTIALS_JSON: ${{ secrets.GCR_CREDENTIALS_JSON }}

  integration-dast:
    needs: deploy-staging
    uses: ./.github/workflows/integration-test.yml

    with:
      gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
